body{
    background-color: #0A0A0B;
    font-family: 'Exo', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 10px;
}


ul{
    display: flex;
    color: white;
    list-style-type: none;
    gap: 40px;
    
}
main{
    max-width: 1000px;
    margin: 20px auto;
}
.page-4-p{
    color: rgb(81, 81, 81);
}
.page-4-h1{
    color: white;
}
.button-page-4{
    color: white;
    background-color: #4177DC;
    border: 2px solid #4177DC;
    width: 160px;
    height: 50px;
}
.img-page-4{
    width: 450px;
}
.page-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    justify-content: space-between;
}
.txt{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.txtmenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}
.divh1{
    color: white;
    font-size: 50px;
}
.divh2{
    font-size: 30px;
    color: white;
}
.imgtx{
    width: 150px;
}
.imgmenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;

}
.img1{
    width: 400px;
}
.img2{
    width: 400px;
}
.img3{
    width: 150px;
}
<<<<<<< HEAD
.str{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 100%;
    color: white;
    border: 3px solid #099260;
    outline-offset: 10px;
    outline:  3px solid #02DB8A;
    font-size: 20px;
=======
.new-filter{
    width: 300px;
}
.new-img-1{
    width: 700px;
}
.new-img-2{
    width: 450px;
}
.new-h1{
    color: white;
}
.new-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}
.new-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
>>>>>>> 377cc598c80c4aa999828cf42094cf822b1d8784
}