body{
    background-color: #0A0A0B;
    font-family: 'Exo', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    max-width: 900px;
    margin: 20px auto;
}
.page-4-p{
    color: rgb(81, 81, 81);
}
.page-4-h1{
    color: white;
}
.button-page-4{
    color: white;
    background-color: #4177DC;
    border: 2px solid #4177DC;
    width: 160px;
    height: 50px;
}
.img-page-4{
    width: 450px;
}
.page-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt{
    display: flex;
    gap: 30px;
    flex-direction: column;
}